<!DOCTYPE html>
<html ng-app="logi_cms">
<head>
	<title>Home | Logiport</title>
	<link rel="stylesheet" type="text/css" href="home_style.css">
  <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
</head>
<div id "cover">
  <div class ="order_form" >
    <div class="LA"></div>
    <div class="rt">Route:</div>
    <div class="to_from"></div>
    <div class="size">Order Size:</div>
    <div class="order_size" contenteditable="true"></div>
    <div class="book" >Confirm</div>
    <div class="deny" >Deny</div>
</div>
</div>

<body ng-controller="ChangeCMS as cms">
	<div class ="left_side_menu" >
	  <a href="" class="A hoh" ng-click="cms.changeGrid($event)">
        Requested Order
      </a>
      <a href="#" class="B hoh" ng-click="cms.changeGrid($event)">
        Order Ongoing
      </a>
      <a href="#" class="C hoh" ng-click="cms.changeGrid($event)">
        Order History
      </a>
      <a href="#" class="D hoh" ng-click="cms.changeGrid($event)">
        Assigned Trips
      </a>
      <a href="#" class="E hoh" ng-click="cms.changeGrid($event)">
        Ongoing Trips
      </a>
      <a href="#" class="F hoh" ng-click="cms.changeGrid($event)">
        Map
      </a>
      <a href="#"class="G hoh" ng-click="cms.changeGrid($event)">
        Alert Page
      </a>
      <a href="#"class="H hoh" ng-click="cms.changeGrid($event)">
        Info
      </a>
      <a href="#"class="I hoh" ng-click="cms.changeGrid($event)">
        Returned Load
      </a>
	</div>
	<div class ="edit ed_sa">Edit</div>
	<div class ="save ed_sa">Save</div>
  <div class ="create_new_row ed_sa">&#10133;</div>
	<div class="grid" disabled>
		<div class="switch_tabs" >
        	<div class="tab2 tab" id="A" onClick="changeColor(this.id)">
        		{{cms.col_A}}
        	</div>
        	<div class="tab2 tab" id="B" onClick="changeColor(this.id)">
        		{{cms.col_B}}
        	</div>
        	<div class="tab2 tab" id="C" onClick="changeColor(this.id)">
        		{{cms.col_C}}
        	</div>
        	<div class="tab2 tab" id="D" onClick="changeColor(this.id)">
        		{{cms.col_D}}
        	</div>
        	<div class="tab2 tab" id="E" onClick="changeColor(this.id)">
        		{{cms.col_E}}
        	</div>
        	<div class="tab2 tab" id="F" onClick="changeColor(this.id)">
        		{{cms.col_F}}
        	</div>
        	<div class="tab2 tab" id="G" onClick="changeColor(this.id)">
        		{{cms.col_G}}
        	</div>
        	<div class="tab2 tab" id="H" onClick="changeColor(this.id)">
        		{{cms.col_H}}
        	</div>
          <!--  -->
		</div>

	</div>

  <script type="text/javascript">
    var logi_app = angular.module('logi_cms',[]);
    logi_app.controller('ChangeCMS', [function(){

      var self = this;
      self.changeGrid = function(e){
        if (e.target.className.match("A")) {
            self.col_A ="Local Agent", self.col_B="From", self.col_C="To",self.col_D="Order Size", self.col_E="Time"
            fetch_requestOrder();
        }
        if (e.target.className.match("B")) {
            self.col_A ="Order Type", self.col_B="From-To", self.col_C="Order Size",self.col_D="Completed %", self.col_E="Deadline", self.col_F="Wait Time"
            fetch_ongoingOrder();
        }
        if (e.target.className.match("C")) {
            self.col_A ="Order No", self.col_B="Order Type", self.col_C="Route",self.col_D="Completed Time", self.col_E="Order Size"
            fetch_orderHistory();
        }
        if (e.target.className.match("D")) {
            self.col_A ="Trip Id", self.col_B="Order Assoc.", self.col_C="Start Time",self.col_D="Route", self.col_E="Sales ID",self.col_F="Client/LA Id"
            fetch_assignedTrip();
        }
        if (e.target.className.match("E")) {
            self.col_A ="Trip Id", self.col_B="Order Assoc.", self.col_C="Sales Id", self.col_D="Client/LA",self.col_E="Truck No.",self.col_F="Current Pos.",self.col_G="Expected EndTime",self.col_H="Route"
            fetch_ongoingTrip();
        }
        if (e.target.className.match("F")) {

        }
        if (e.target.className.match("G")) {
            self.col_A ="Truck No", self.col_B="Trip Id", self.col_C="Route",self.col_D="Message", self.col_E="Time"}
        if (e.target.className.match("H")) {

        }
        if (e.target.className.match("I")) {
          
        }          
      };

    }]);
  </script>

</body>

<script type="text/javascript" src="home_script.js"></script>
</html>
